@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 15px;
  line-height: 1.6;
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  color: #51545b;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
  list-style: none;
}

ul.with-bullets {
  list-style-type: disc;
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: #1ac6ff;
}

p {
  line-height: 2;
}

h3 {
  font-size: 3rem;
  color: #262627;
  margin: 0.5em 0;
  font-weight: 400;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #262627;
  margin: 1em 0;
}

h6 {
  font-size: 1rem;
  line-height: 1.2;
  margin: 1em 0;
  color: #262627;
}

section:not(.full-width) {
  max-width: 1200px;
  margin: 0 auto;
}

.stretch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.retina-show {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .retina-hide {
    display: none;
  }
  .retina-show {
    display: block;
    display: initial;
  }
}


.app-bar {
  position: fixed;
}