@import '../common/colors';
@import '../common/typography';

.navigation {
  position: fixed;
  z-index: 1;
  top: 0;
  padding-left: 10%;
  width: 100%;
  transition: all 0.3s;
}

.navigation.fixed {
  background: rgba(255,255,255,0.95);
  box-shadow: 0 0 5px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.15);
}

.navigation.fixed .nav-link {
  color: #000;
}

.nav-content {
  position: relative;
  top: 2.5rem;
  display: flex;
  transition: all 0.3s;
}

.navigation.fixed .nav-content {
  top: 0;
}

.nav-links {
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.875rem;
  margin-right: 1rem;
}

.nav-link:visited {
  color: #fff;
}

.item {
  display: inline-block;
  text-decoration: none;
  padding: 16px 32px;
  color: var(--colorBlack);
}

.logo {
  margin-right: 4rem;
}

.active {
  color: var(--colorDodgerBlue);
}
